/****************************/
/*      Tropical Neon       */
/****************************/
/* 18 Colors of Awesomeness */
/****************************/

dark_purple {
    color: #2a2139ff
}
russian_violet {
    color: #2b1a44ff
}
blue_violet {
    color: #421d83ff
}
iris_purple {
    color: #454adeff
}
purple1 {
    color: #B14AEDff
}
phlox {
    color: #CC1DEBff
}
red1 {
    color: #FB3640ff
}
shock_pink {
    color: #fe67f7ff
}
orange_red {
    color: #fe5f55ff
}
congo_pink {
    color: #ec7970ff
}
oxford_blue {
    color: #0e122dff
}
picotee_blue {
    color: #2a2594ff
}
electric_blue {
    color: #87efffff;
}
magical_mint {
    color: #a1fcdfff
}
emerald {
    color: #00916eff
}
lime_green {
    color: #6fcd3cff
}
mint_green {
    color: #85ff9eff
}

/**** CSS ****/

body{
    color: #2b1a44ff
    text-color: #cc1debff
}
